# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Tailwind / Node
node_modules/
theme/static_src/node_modules/
theme/static/css/dist/

# OS
.DS_Store
Thumbs.db
